* {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

ul li {
    float: left;
}
.mid_box{
    width:1200px;
    margin:auto;
}
em{
    font-style:normal;
}


/*顶部容器，长黑框 */

.topNav {
    width: 100%;
    height: 31px;
    background: #3E3A39;
}

.topNavbox {
    width: 1200px;
    height: 30px;
    margin: auto;
    color: #ccc;
    line-height: 30px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.topNavLeft {
    width: 100px;
    height: 30px;
    cursor:pointer;
    position: relative;
}
.topNavLeft img,.topNavLeft em{
    transition:transform 1s;
}
.topNavLeft:hover>img{
    transform:rotate(180deg);
}
.topNavLeft:hover em{
    transform:rotate(180deg);
}
.topNavLeft:hover>div{
    display:block !important;
}
.topNavLeft>img {
    width: 12px;
    height: 12px;
}
.topNavLeft>em {
    width: 13px;
    height: 30px;
    display:inline-block;
    vertical-align:bottom;
    line-height:35px;
}
.topNavLeft>div{
    position: absolute;
    display:none;
}
.topNavLeft>div span{
    color:#fff;
    position: absolute;
    top:-5px;
    left:5px;
    z-index:11;
}
.topNavLeft>div img{
    width:200px;
    height:200px;
    box-shadow:0 0 3px rgba(0,0,0,.6);
    position: absolute;
    top:10px;
    z-index:10;
}

.topNavbox>.topNavRight {
    width: 850px;
    height: 30px;
}

.topNavbox>.topNavRight>ul {
    float: right;
}

.topNavbox>.topNavRight>ul>li>a {
    color: #ccc;
    padding: 0 15px;
}

.topNavbox>.topNavRight>ul>li:last-child a em {
    font-size: 20px;
}

.topNavbox>.topNavRight>ul>li:first-child>a {
    padding: 0;
    color: #fff600;
}

.topNavbox>.topNavRight>ul>li>a:hover {
    color: #aaa;
}


/* 顶部黑框下长banner图 */

.top_img {
    width: 1200px;
    height: 80px;
    margin: auto;
}


/* logo，搜索框，购物车 */

.logoItems {
    width: 1200px;
    height: 90px;
    margin: auto;
    margin-top: 10px;
}

.logoItems::before {
    content: '';
    display: table;
}

.logoItems>.logo_img {
    margin: 26px 25px 0 0;
    display: block;
    float: left;
}

.logoItems>.activity_img {
    margin: 20px 0 0 20px;
    display: block;
    float: left;
}

.logoItems>.search {
    width: 450px;
    height: 62px;
    float: left;
    margin: 24px 0 0 70px;
}

.logoItems>.shopping_car {
    width: 141px;
    height: 36px;
    float: left;
    margin: 24px 0 0 80px;
}

.search .search_top_left {
    width: 350px;
    height: 33px;
    float: left;
    /* background: #ff0; */
}

/* .search .search_top_left>input { */
.search input.search_top_left{
    width: 350px;
    height: 33px;
    padding-left: 10px;
    border: 3px solid #c40000;
    outline: none;
}

.search .search_top_right {
    width: 86px;
    height: 33px;
    float: left;
    background: #c40000;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 33px;
}

.search .search_top_right:hover {
    cursor: pointer;
}

.search .search_foot {
    width: 450px;
}

.search .search_foot a {
    font-size: 12px;
    color: #E17F7F;
    padding: 0 8px;
    border-left: 1px solid #ccc;
}

.search .search_foot a:first-child {
    border: 0;
}

.logoItems>.shopping_car>.shopping_car_nr {
    width: 139px;
    height: 34px;
    display: block;
    background: #f9f9f9;
    border: 1px solid #dfdfdf;
    position: relative;
}

.logoItems>.shopping_car>.shopping_car_nr>.shopping_car_icon {
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url(../img/shopcar.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    vertical-align: top;
    margin-left: 10px;
}

.logoItems>.shopping_car>.shopping_car_nr>.shopping_car_text {
    color: #666;
    font-size: 13px;
    display: inline-block;
    margin: 8px 0 0 5px;
    ;
}

.logoItems>.shopping_car>.shopping_car_nr>.shopping_car_num {
    display: inline-block;
    width: 30px;
    height: 30px;
    color: #fff;
    background-image: url(../img/qipao.png);
    position: absolute;
    text-align: center;
    line-height: 30px;
    top: -21px;
    left: 10px;
}

.itemNav {
    width: 1200px;
    height: 45px;
    margin: auto;
}

.itemNav>ul {
    width: 1005px;
    height: 45px;
    float: left;
}

.itemNav>ul>li>a {
    color: #fff;
}

.itemNav ul .nav {
    padding: 0 20px;
    line-height: 45px;
}

.itemNav ul .nav a {
    color: #333;
}

.itemNav .list_item {
    width: 185px;
    font-size: 18px;
    display: inline-block;
    background: #CC0210;
    color:#fff;
    text-align: center;
    line-height: 45px;
}
.itemNav .list_item:hover+.qbfl_list{
    display:block !important;
    opacity:.9;
}
.itemNav>ul>li:nth-child(3) {
    background-image: url(../img/hoticon.gif);
    background-size: 88px 45px;
}
/* 全部分类10个类 */
.itemNav .qbfl_list{
    background:#cc0210;
    position:relative;
    z-index:99;
    width:185px;
    height:470px;
}
.itemNav .qbfl_list li{
    width:155px;
    box-sizing:content-box;
    display:block;
    height:47px;
    /* line-height:47px; */
    padding-left:30px;
    position:relative;
}
.itemNav .qbfl_list li>a,.itemNav .qbfl_list li>em{
    line-height:47px;
}
.itemNav .qbfl_list li:hover{
    background:#D53C45;
    cursor:pointer;
}
.itemNav .qbfl_list li:hover>div{
    display:block !important;
}
.itemNav .qbfl_list li img{
    vertical-align: middle;
}
.itemNav .qbfl_list li a{
    font-size:16px;
    color:#fff;
}
.itemNav .qbfl_list li a span{
    margin-left:5px;
}
.itemNav .qbfl_list li em{
    color:rgba(255,255,255,.3);
    font-size:35px;
    font-style: normal;
    text-align:right;
    position: absolute;
    top:0px;
    right:20px;
}
/* 左侧弹出大框 */
.itemNav .qbfl_list li>div>div{
    width:1020px;
    height:471px;
    background:#fff;
    position: absolute;
    left:185px;
    top:0px;
    display:flex;
    justify-content:space-between;
}
.itemNav .qbfl_list li.bj>div>div{
    top:-47px;
}
.itemNav .qbfl_list li.ptj>div>div{
    top:-94px;
}
.itemNav .qbfl_list li.yj>div>div{
    top:-141px;
}
.itemNav .qbfl_list li.hj>div>div{
    top:-188px;
}
.itemNav .qbfl_list li.qj>div>div{
    top:-235px;
}
.itemNav .qbfl_list li.pj>div>div{
    top:-282px;
}
.itemNav .qbfl_list li.jjzb>div>div{
    top:-329px;
}
.itemNav .qbfl_list li>div .box_lt{
    width:730px;
    height:425px;
    margin-left:10px;
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
}
.itemNav .qbfl_list li>div .box_lt>div{
    margin: 15px 35px 0;
}
.itemNav .qbfl_list li>div .box_lt .long{
    width:80%;
    height:121px;
}
.itemNav .qbfl_list li>div .box_lt .short{
    width:39.6%;
    height:121px;
}
.itemNav .qbfl_list li>div .box_lt .title{
    width:100%;
    height:40px;
    text-align:left;
    color:#3b3b3b;
    font-size:14px;
    font-weight:900;
    border-bottom:1px solid #eaeaea;
}
.itemNav .qbfl_list li>div .box_lt>div>div+div>a{
    display:inline-block;
    padding:0 10px;
    font-size:14px;
    color:#595959;
    line-height:15px;
    margin-bottom:15px;
}
.itemNav .qbfl_list li>div .box_lt a+a{
    border-left:1px solid #bfbfbf;
}
.itemNav .qbfl_list li>div .box_lt a:first-child{
    padding-left:0;
}
.itemNav .qbfl_list li>div .box_lt a:last-child{
    padding-right:0;
}
.itemNav .qbfl_list li>div .box_rt{
    width:280px;
    height:470px;
    background:#F6F6F6;
}
.itemNav .qbfl_list li>div .box_rt>div{
    border: 1px solid #EAEAEA;
    width:242px;
    margin:auto;
    display:flex;
    justify-content:start;
    flex-wrap:wrap;
    margin-top:10px;
}
.itemNav .qbfl_list li>div .box_rt>div>a{
    display:inline-block;
    width:80px;
    height:80px;
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
}
.itemNav .qbfl_list li>div .box_rt>div>a>img{
    width:100%;
}
.itemNav .qbfl_list li>div .box_rt>a>img{
    display:block;
    margin:auto;
}
.color0{
    color:#D02427 !important;
}
.color1{
    color:#F97B00!important;
}
.color2{
    color:#AD5702!important;
}

.itemNav .itemNav_right {
    float: right;
    margin-top: 3px;
}